.myCard {
  padding: 10px;
  height: 150px;
  display: flex;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 25px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  transition: 0.3s;
  font-family: "Roboto","Helvetica","Arial",sans-serif;

  .imageContainer {
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 40%;
    height: 100%;

    .dishImage {
      max-width: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
  }
  .contentContainer {
    padding-left: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    p{
      margin: 10px 0 10px 10px;
      font-size: 20px;
      word-break: break-all;
    }
    .nameContainer {
      display: flex;
      flex: 2;
    }
    .buttonContainer {
      display: flex;
      flex: 1;
      justify-content: end;
    }
    .priceContainer{
      display: flex;
      flex: 1;
      justify-content: end;
    }
  }
}

@media (max-width: 530px) {
  .myCard{
    display: flex;
    height: 100px;
    .imageContainer {
      .dishImage{
        height: 100px;
      }
    }
    .contentContainer {
      p {
        margin: 5px 0 5px 5px;
        font-size: 14px;
        word-break: break-all;
      }
      .buttonContainer {
        justify-content: end;
        .counterButton{
          display: flex;
          flex-direction: column-reverse;
          button{
            width: 20px;
            height: 20px;
            font-size: 14px;
          }
          .count{
            width: 10px;
            font-size: 14px;
          }
        }
      }
    }
  }
}


