.container{
  padding: 0 5%;
  .gridContainer {
    display: grid;
    gap: 10px 100px;
  }
}

@media (min-width: 1050px) {
  .gridContainer {
    grid-template-columns:  1fr 2fr;
    .item1 {
      order: 1;
    }

    .item2 {
      order: 2;
    }
  }

}

@media (max-width: 1050px) {
  .container{
    .gridContainer {
      grid-template-columns: repeat(1, 1fr);
      .item1 {
        order: 2;
      }
      .item2 {
        order: 1;
      }
    }
  }
}


