.container {
  padding: 0 10%;

  h1 {
    text-align: center;
  }

  .description {
    display: flex;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
  }

  .account {
    margin-top: 2rem;
    border-bottom: 3px solid black;
    cursor: pointer;

    svg {
      font-size: 25px;
      margin: 0 10px;
    }

    .title {
      display: flex;
      align-items: center;

      h3 {
        font-size: 1.8rem;
        margin: 0;
      }

      .arrowButton {
        display: flex;
        margin-left: auto;
        transition: transform 0.5s ease-in;
      }
    }

    .content {
      max-height: 0;
      overflow: hidden;
      margin: 10px 10px;
      transition: max-height 1s ease;

      p {
        margin: 0;
        line-height: 1.6;
        font-size: 1.4rem;
      }
    }
  }

  .active {
    .title {
      .arrowButton {
        transform: rotate(180deg);
      }
    }
  }

  .boxWrapper {
    padding: 40px 10px;

    .buttonWidth {
    }
  }
}